.results-container {
  display: flex;
  padding: 2rem;
}

.page-container {
  display: flex;
  padding: 2rem;
}

.table-container {
  display: block;
  padding-left: 2rem;
}
.total-container {
  text-align: center;
}

.image-container {
  text-align: center;
  padding-top: 0.5rem;
}

.total-wrapper {
  display: inline-block;
}

ul {
  list-style: none;
}

table {
  width: 100%;
}